#App Image
APP_IMAGE=moodle:dev

# Database
DB_HOST=db
DB_PORT=3306

# MySQL Credentials
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# PHPMyAdmin
PMA_UPLOAD_LIMIT=100M

# Versions
MARIADB_VERSION=10.11
REDIS_VERSION=7
NGINX_VERSION=1.26
PHPMYADMIN_VERSION=5
MAILPIT_VERSION=latest

# Ports
NGINX_PORT=8083
PHPMYADMIN_PORT=8084
MAILPIT_UI_PORT=8025
MAILPIT_SMTP_PORT=1025

MOODLE_URL=http://localhost:8083

# Cron
CRON_INTERVAL=60